<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div>
    <%= f.text_field :first_name, :autofocus => true, :placeholder => "First name" %>
    <%= f.text_field :last_name, :placeholder => "Last name" %>
  </div>
  <div><%= f.email_field :email, :placeholder => "Email address" %></div>
  <div><%= f.password_field :password, :placeholder => "Password" %></div>
  <div><%= f.password_field :password_confirmation, :placeholder => "Confirm Password"  %></div>
  <div><%= f.submit "Sign up", :id => "btn-sign-up", :class => "btn btn-warning" %></div>
<% end %>
<p>or</p>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  <a href="<%= url_for omniauth_authorize_path(resource_name, provider) %>" id="btn-sign-up-linkedin" class="btn btn-info">Sign up with <%= image_tag('logo-linkedin.png') %></a>
  <% end -%>
<% end -%>