<div id="search-container" class="container">
  <div class="row">
    <div class="span4">
      <div id="search-bar">
        <h5 data-toggle="collapse" data-target="#search-role">You are looking for a</h5>
        <div id="search-role" class="collapse in">
          <span name="Developer" class="badge badge-default checkbox">Developer <i class="icon-ok icon-white"></i><i class="icon-ban-circle icon-white"></i></span>
          <span name="Designer" class="badge badge-default checkbox">Designer <i class="icon-ok icon-white"></i><i class="icon-ban-circle icon-white"></i></span>
          <span name="Business Developer" class="badge badge-default checkbox">Business Developer <i class="icon-ok icon-white"></i><i class="icon-ban-circle icon-white"></i></span>
          <span name="Advisor" class="badge badge-default checkbox">Advisor <i class="icon-ok icon-white"></i><i class="icon-ban-circle icon-white"></i></span>
        </div>
        <h5 data-toggle="collapse" data-target="#search-location">Located in</h5>
        <div id="search-location" class="collapse in">
          <%= text_field_tag 'location', current_user.location, placeholder: 'Enter search location...' %>
        </div>
        <h5 data-toggle="collapse" data-target="#search-skills">They are skilled in</h5>
        <div id="search-skills" class="collapse in">
          <%= form_tag skill_path(:id), method: :get, remote: true, 'data-type' => :json do |f| %>
            <%= text_field_tag :skill_id, nil, placeholder: 'Enter skills...' %>
            <%= submit_tag 'submit' %>
          <% end %>
        </div>
        <h5 data-toggle="collapse" data-target="#search-interests">And interested in</h5>
        <div id="search-interests" class="collapse in">
          <%= text_field_tag 'interests', '', placeholder: 'Enter interests...' %>
        </div>
        <h5 data-toggle="collapse" data-target="#search-status">They are</h5>
        <div id="search-status" class="collapse in">
          <span name="Casually looking" class="checkbox">Casually looking</span><br />
          <span name="On the prowl" class="checkbox">On the prowl</span><br />
          <span name="Happily matched" class="checkbox">Happily matched</span><br />
          <span name="On the rebound" class="checkbox">On the rebound</span><br />
          <span name="Open relationship" class="checkbox">Open relationship</span><br />
        </div>
        <h5 data-toggle="collapse" data-target="#search-milestone">And have gotten</h5>
        <div id="search-milestone" class="collapse in">
          <span name="Nowhere" class="checkbox">Nowhere</span><br />
          <span name="Ideas flowing" class="checkbox">Ideas flowing</span><br />
          <span name="Prototyped products" class="checkbox">Prototyped products</span><br />
          <span name="People to use" class="checkbox">People to use</span><br />
        </div>
        <h5 data-toggle="collapse" data-target="#search-looking-for">They are looking for a</h5>
        <div id="search-looking-for" class="collapse in">
          <span name="Developer" class="checkbox">Developer</span><br />
          <span name="Designer" class="checkbox">Designer</span><br />
          <span name="Business Developer" class="checkbox">Business Developer</span><br />
          <span name="Advisor" class="checkbox">Advisor</span><br />
        </div>
      </div>
    </div>
    <div class="span8">
    </div>
  </div>
</div>
