<div class="container" id="profile-container">
  <div class="row">
    <div class="span7 offset1">
      <div class="go-back-me">
      </div>
      <div class="clearfix">

        <div class="pull-left">
          <%= gravatar_image_tag(locals[:user].email, :alt => locals[:user].first_name, :gravatar => { :size => 200, :default => :mm }, :class => "user-avatar") %>
        </div>


        <div class="pull-left">

          <div class="looking-for">
            <p>
            <span class="user-name"><%= locals[:user].first_name %> <%= locals[:user].last_name %></span><br>
            <span class="user-location"><%= locals[:user].location %></span><br>
            <% if locals[:user].role && locals[:user].looking_for %>
              <span class="user-role"><%= locals[:user].role %></span> looking for <span class="user-role-want"><%= locals[:user].looking_for %></span>
            <% elsif locals[:user].role %>
              <span class="user-role"><%= locals[:user].role %></span>
            <% elsif locals[:user].looking_for%>
              Looking for <span class="user-role-want"><%= locals[:user].looking_for %></span><br>
            <% end %>
            </p>
          </div>
          <% if locals[:user] == current_user %>
          <div class="looking-for-edit" style="display:none;">
            <p>
              <%= simple_form_for locals[:user], html: { id: 'user-basic-form'}, remote: true do |f| %>
            
              <span class="user-name"><%= f.input :first_name %> <%= f.input :last_name %></span><br>
              <span class="user-location"><%= locals[:user].location %></span><br>
            
              <span class="user-role"><%= f.input :role, collection: User::ROLES, label: false %></span> looking for <span class="user-role-want"><%= f.input :looking_for, collection: User::ROLES, label: false %></span>
            
              <% end %>
            </p>
          </div>
          <% end %>


          <% if locals[:user].status %>
            <span class="user-status"><i class="status green"></i> <%= locals[:user].status %></span>
          <% end %>
          <% if locals[:user] == current_user %>
            <div class="user-status-edit" style="display:none;">
              <%= simple_form_for locals[:user], html: { id: 'user-statuses-form'}, remote: true do |f| %>
                <%= f.input :status, collection: User::STATUSES %>
              <% end %>
            </div>
          <% end %>

          <% if locals[:user] == current_user %>
            <a href="#" onclick="showUserEdit(); return false;" class="btn btn-info"><i class="icon-edit icon-white"></i> Edit Profile</a><br>
            <a href="<%= omniauth_authorize_path(:user, :linkedin) %>" class="btn btn-info" id="btn-sync-linkedin"><i class="icon-refresh icon-white"></i> Sync with LinkedIn Profile</a><br>
          <% else %>
            <a class="btn btn-info pull-right contact-user" id="btn-send-msg"><i class="icon-envelope icon-white"></i> Message</a><br>&nbsp;<br>
          <% end %>

        </div>

      </div>

    </div>
  </div>
  <div class="row" id="user_info"> 
    <div class="span7 offset1">

        <div class="user-bio"><br>
          <p><%= locals[:user].bio %></p>
        </div>

        <h4>Skills</h4>

        <% if locals[:user].user_skills %>
          <% locals[:user].user_skills.each do |s| %>
              <span class="badge badge-warning"><%= s.skill.name %></span>
          <% end %>
        <% end %>

        <h4>Experience</h4>

        <% if locals[:user].employments %>
          <% locals[:user].employments.each do |emp| %>

            <span class="edu-name pull-right"><%= emp.start_date ? emp.start_date.year : '' %> - <%= emp.end_date ? emp.end_date.year : "Present" %></span>
            <span class="edu-year-range"><%= emp.company %></span>
            <p><%= emp.title %></p>

          <% end %>
        <% end %>

        <h4> Education </h4>

        <% if locals[:user].educations %>
          <% locals[:user].educations.each do |edu| %>

            <span class="edu-name pull-right"><%= edu.start_date ? edu.start_date.year : '' %> - <%= edu.end_date ? edu.end_date.year : "Present" %></span>
            <span class="edu-year-range"><%= edu.institution %></span>
            <p><%= edu.degree %></p>

          <% end %>
        <% end %>


        <h4>Interests</h4>

        <% if locals[:user].user_interests %>
          <% locals[:user].user_interests.each do |i| %>
              <span class="badge badge-warning"><%= i.interest.name %></span>
          <% end %>
        <% end %>

    </div>
  </div>
  <div class="row">
    <div class="span7 offset1"><br><br>
      <% if locals[:user] == current_user %>
        <%= render 'users/edit', locals: { user: locals[:user] } %>
      <% end %>
    </div>
  </div>
</div>

<div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="contactModalLabel"></h3>
  </div>
  <div class="modal-body">
    <%= text_area_tag 'body', '', class: 'email-body' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="email-button" class="btn btn-primary">Send email</button>
  </div>
</div>

