<tr>
  <td><%= u.email %></td>
  <td><%= u.first_name %></td>
  <td><%= u.last_name %></td>
  <td><%= u.location %></td>
  <td><span class="contact-user btn" data-id="<%= u.id %>" data-name="<%= u.first_name %>">CONTACT ME</span></td>
<tr>