<div id="search-container" class="container">
  <div class="row">
    <div class="span4">
      <%= render 'search' %>
    </div>
    <div class="span8">
      <div id="search-wrapper">
        <div id="search-mask">
          <div id="search-results" class="search-results-item">
            <% @users.each do |u| %>
              <% if u != current_user %>
                <%= render partial: 'user_snippit', locals: { u: u } %>
              <% end %>
            <% end %>
          </div>

          <div id="me-display" class="search-results-item">
            <%= render 'show', locals: { user: current_user } %>
          </div>

          <div id="search-results-display" class="search-results-item">
            <%= render 'info', locals: { user: current_user } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="contactModalLabel"></h3>
  </div>
  <div class="modal-body">
    <%= text_area_tag 'body', '', class: 'email-body' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="email-button" class="btn btn-primary">Send email</button>
  </div>
</div>
