<div class="container" id="profile-container">
  <div class="row">
    <div class="span10 offset1">

      <div class="clearfix">

        <div class="pull-left">
          <img src="http://placehold.it/200x200" alt="<%= @user.first_name %> <%= @user.last_name %>" class="user-avatar">
        </div>

        <div class="pull-right">
            <a href="" class="btn btn-info pull-right" id="btn-send-msg"><i class="icon-envelope icon-white"></i> Message</a><br>&nbsp;<br>
            <span class="user-status"><i class="status green"></i> User Status</span>

        </div>

        <div class="pull-left">

          <p>
            <span class="user-name"><%= @user.first_name %> <%= @user.last_name %></span><br>
            <span class="user-location">San Francisco, CA</span><br>
            <span class="user-role">Developer</span> looking for <span class="user-role-want">Business Developer</span>
          </p>

        </div>

        <div class="pull-left user-bio">
          <p><%= @user.bio %></p>
        </div>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="span10 offset1">

        <h4>Skills</h4>

        <% if @user.user_skills %>
          <% @user.user_skills.each do |s| %>
              <span class="badge badge-warning"><%= s.skill.name %></span>
          <% end %>
        <% end %>

        <h4>Experience</h4>

        <% if @user.employments %>
          <% @user.employments.each do |emp| %>

            <span class="edu-name pull-right"><%= emp.start_date.year %> - <%= emp.end_date ? emp.end_date.year : "Present" %></span>
            <span class="edu-year-range"><%= emp.company %></span>
            <p><%= emp.title %></p>

          <% end %>
        <% end %>

        <h4> Education </h4>

        <% if @user.educations %>
          <% @user.educations.each do |edu| %>

            <span class="edu-name pull-right"><%= edu.start_date.year %> - <%= edu.end_date ? edu.end_date.year : "Present" %></span>
            <span class="edu-year-range"><%= edu.institution %></span>
            <p>Education Description if any</p>

          <% end %>
        <% end %>


        <h4>Interests</h4>

        <% if @user.user_interests %>
          <% @user.user_interests.each do |i| %>
              <span class="badge badge-warning"><%= i.interest.name %></span>
          <% end %>
        <% end %>



    </div>
  </div>
</div>


