<header id="header-home" class="container">
	<div class="row">
		<div class="span9">
			<h1>Found<span>with</span>Me</h1>
		</div>
		<div class="span3">
			<a href="" class="btn btn-inverse pull-right" data-toggle="modal" data-target="#sign-in-modal">Sign in</a>
		</div>
	</div>
</header>

<div class="container">
	<div class="row">
		<div class="span4 offset8">
			<p id="sign-up-intro">Connect with other professionals looking to help move startups forward.</p>
		</div>
	</div>
	<div class="row">
		<div class="span8">

			<div id="feature-carousel" class="carousel slide hidden-phone">
			  <ol class="carousel-indicators">
			    <li data-target="#feature-carousel" data-slide-to="0" class="active"></li>
			    <li data-target="#feature-carousel" data-slide-to="1"></li>
			    <li data-target="#feature-carousel" data-slide-to="2"></li>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item">
			    	<%= image_tag("intro-slide-1.png") %>
						<div class="carousel-caption">
							<h4>Find someone who needs help with their startup or get help starting your own.</h4>
						</div>
			    </div>
			    <div class="item">
			    	<%= image_tag("intro-slide-2.png") %>
						<div class="carousel-caption">
							<h4>FoundWithMe member profiles contain skills, interests, past work experience and education to help find your match.</h4>
						</div>
			    </div>
			    <div class="item">
			    	<%= image_tag("intro-slide-3.png") %>
						<div class="carousel-caption">
							<h4>Search with high granularity. Find a co-counder by role, skill, interest, current status and location.</h4>
						</div>
			    </div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#feature-carousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#feature-carousel" data-slide="next">&rsaquo;</a>
			</div>

		</div>
		<div class="span4">
			<div id="form-sign-up">
				<%= render "devise/registrations/new" %>
			</div>
		</div>
	</div>
</div>


<div id="sign-in-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sign in</h3>
  </div>
  <div class="modal-body">
		<div><%= f.email_field :email, :autofocus => true, :placeholder => "Email address" %></div>

		<div><%= f.password_field :password, :placeholder => "Password" %></div>

		<% if devise_mapping.rememberable? -%>
		<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		<% end %>

		<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
			<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
		<% end -%>
  </div>
  <div class="modal-footer">
    <div>
    	<%- if devise_mapping.omniauthable? %>
			  <%- resource_class.omniauth_providers.each do |provider| %>
			    <%= link_to "Sign in with LinkedIn", omniauth_authorize_path(resource_name, provider), :class => "btn btn-info", :id => "btn-sign-in-linkedin" %>
			  <% end -%>
			<% end -%>
    	<%= f.submit "Sign in", :class => "btn btn-warning" %>
    </div>
  </div>
	<% end %>
</div>


<footer>
	&copy; 2013 FOUNDWITHME
</footer>
