<!DOCTYPE html>
<html>
<head>
  <title>Found With Me - Matchmaking for Co-Founders</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript" src="//use.typekit.net/hul3mof.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body class="<%= body_class %>">

<%= render 'layouts/navigation' %>

<div id="flash">
  <% flash.each do |key, value| %>
      <% if key != "timedout" %>
      <div class="alert alert-<%= key %>">
          <%= value.html_safe %>
          <a class="close" data-dismiss="alert">&#215;</a>
      </div>
      <% end %>
  <% end %>
</div>

<%= yield %>

<div class="container">
	<div class="row">
		<span class="span12">
			<footer>
				<p>&copy; 2013 Found With Me</p>
			</footer>
		</div>
	</div>
</div>

<%= render 'layouts/user' %>
<%= javascript_include_tag "application" %>
<script src="https://checkout.stripe.com/v2/checkout.js"></script>



</body>
</html>
