<!DOCTYPE html>
<html>
<head>
  <title>Found With Me - Matchmaking for Co-Founders</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

<%= render 'layouts/navigation' %>

<%= yield %>

<%= render 'layouts/user' %>
<%= javascript_include_tag "application" %>

</body>
</html>
